.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/* Header */
.menu-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  /* identical to box height, or 150% */
  letter-spacing: 0.02em;

  /* NAVY BLUE */
  color: #2e2f42;
}
.contact-emai-address,
.contact-phone-number {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  /* identical to box height, or 150% */
  letter-spacing: 0.02em;

  /* SLATE */
  color: #434455;
}
.first-part-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  /* identical to box height, or 133% */
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  /* IRIS */
  color: #4d5ae5;
}

.second-part-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  /* identical to box height, or 133% */
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  /* NAVY BLUE */
  color: #2e2f42;
}
.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}
.contact-emai-address:hover,
.contact-emai-address:focus,
.contact-phone-number:hover,
.contact-phone-number:focus {
  color: #404bbf;
}
/* HEADER END */
/* HERO BLOCK */
